/*  your css code here. If applicable */

.square{

transition: all 0.5s ease-in-out;
transition-delay: 1s;
}
.container{
	display:grid;
	grid-template-rows: repeat(15,15px);
	grid-template-columns: repeat(40,15px);
    gap:3px;
    justify-content: center;
    align-item: center;
	border:40px solid black;
	width:700px;
	background:black;

}
.square:hover{
    background-color:rgb(29, 29, 29);
	transition:none;
	transition-delay:0s;
}